@font-face {
  font-family: "Shadows Into";
  src: url("../fonts/ShadowsIntoLight.woff2") format("woff2"), url("../fonts/ShadowsIntoLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BlackIt.woff2") format("woff2"), url("../fonts/SourceSansPro-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/SourceSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-BoldIt.woff2") format("woff2"), url("../fonts/SourceSansPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Semibold.woff2") format("woff2"), url("../fonts/SourceSansPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
  line-height: 1.2;
}

body {
  font-family: "Source Sans Pro";
  background: url("../images/body-bg.png") repeat scroll center center/100% auto;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
}

span {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

sup {
  top: -0.185em;
}

/* Common */
.font-weight-normal {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-black {
  font-weight: 900;
}

.font-style-italic {
  font-style: italic;
}

.title-font {
  font-family: "Shadows Into";
}

h3.common-title {
  color: #FB3099;
  font-family: "Shadows Into";
  font-size: 35px;
  text-align: center;
  display: inline-block;
  line-height: 1;
}
@media (min-width: 350px) {
  h3.common-title {
    font-size: 40px;
  }
}
@media (min-width: 384px) {
  h3.common-title {
    font-size: 45px;
  }
}
@media (min-width: 480px) {
  h3.common-title {
    font-size: 50px;
  }
}
@media (min-width: 576px) {
  h3.common-title {
    font-size: 55px;
  }
}
@media (min-width: 850px) {
  h3.common-title {
    font-size: 65px;
  }
}
@media (min-width: 992px) {
  h3.common-title {
    font-size: 75px;
  }
}
@media (min-width: 1200px) {
  h3.common-title {
    font-size: 95px;
    text-align: left;
  }
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-pink {
  color: #FB3099;
}

.bg-pink {
  background-color: #FB3099;
}

.red-flag-section > div:first-child {
  position: relative;
  margin-top: 110px;
  max-width: 1003px;
  margin-left: auto;
}
.red-flag-section > div:first-child h3 {
  position: absolute;
  top: 50%;
  transform: translate(14px, -33%) rotate(7deg);
}
@media (min-width: 1200px) {
  .red-flag-section > div:first-child h3 {
    transform: translate(-17%, -45%) rotate(2deg);
  }
}
.red-flag-section > div:first-child img {
  width: calc(100% - 35px);
  margin-left: auto;
  display: block;
}
.red-flag-section .container > div {
  margin-top: 30px;
}
.red-flag-section .container > div .red-flag-title-wrapper {
  position: relative;
}
.red-flag-section .container > div .red-flag-title-wrapper .red-flag-title {
  background: url(../images/red-flag-title.png) no-repeat scroll center center/100%;
  width: 145px;
  height: 85px;
  padding-left: 7px;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-title-wrapper .red-flag-title {
    width: 265px;
    height: 160px;
  }
}
.red-flag-section .container > div .red-flag-title-wrapper .red-flag-title h4 {
  font-size: 15px;
  padding-top: 25px;
  line-height: 0.9;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-title-wrapper .red-flag-title h4 {
    font-size: 26px;
    padding-top: 40px;
    padding-left: 10px;
  }
}
.red-flag-section .container > div .red-flag-title-wrapper .red-flag-title h4 span {
  font-size: 23px;
}
.red-flag-section .container > div .red-flag-title-wrapper .red-flag-title h4 span sup {
  font-size: 18px;
  top: -17px;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-title-wrapper .red-flag-title h4 span {
    font-size: 40px;
  }
}
.red-flag-section .container > div > div:nth-child(2) {
  background-color: #F8F7F7;
  padding-top: 32px;
  margin-top: -28px;
}
.red-flag-section .container > div > div:nth-child(2) > h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  line-height: 0.9;
}
@media (min-width: 992px) {
  .red-flag-section .container > div > div:nth-child(2) > h4 {
    font-size: 50px;
  }
}
.red-flag-section .container > div > div:nth-child(2) > p {
  font-size: 21px;
  line-height: 1;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .red-flag-section .container > div > div:nth-child(2) > p {
    font-size: 30px;
  }
}
.red-flag-section .container > div .red-flag-items-wrapper {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-items-wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 991.98px) {
  .red-flag-section .container > div .red-flag-items-wrapper {
    position: relative;
  }
}
.red-flag-section .container > div .red-flag-items-wrapper .slide-buttons {
  position: absolute;
  width: 100%;
  max-width: 350px;
  left: 50%;
  transform: translateX(-50%);
}
.red-flag-section .container > div .red-flag-items-wrapper .slide-buttons button {
  width: 12px;
  height: 14px;
  display: block;
  border-radius: 50%;
  border: 1px solid #FB3099;
  background-color: none;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.red-flag-section .container > div .red-flag-items-wrapper .slide-buttons button.active {
  background-color: #FB3099;
}
.red-flag-section .container > div .red-flag-items-wrapper .red-flag-items .red-flag-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 85px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media (min-width: 350px) {
  .red-flag-section .container > div .red-flag-items-wrapper .red-flag-items .red-flag-item {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.red-flag-section .container > div .red-flag-items-wrapper .red-flag-items .red-flag-item p {
  font-size: 30px;
  line-height: 1.12;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-items-wrapper .red-flag-items .red-flag-item p {
    font-size: 27px;
  }
}
.red-flag-section .container > div .red-flag-items-wrapper .red-flag-items .red-flag-item p sup {
  font-size: 15px;
  top: -11px;
  font-weight: 500;
}
@media (min-width: 992px) {
  .red-flag-section .container > div .red-flag-items-wrapper {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
.red-flag-section .container > div .red-flag-items-wrapper .arrow-button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-45px);
}
.red-flag-section.two > div:first-child {
  margin-left: 0;
  margin-right: auto;
}
.red-flag-section.two > div:first-child h3 {
  top: 60px;
  transform: rotate(5deg);
  right: 15px;
}
@media (min-width: 992px) {
  .red-flag-section.two > div:first-child h3 {
    top: 100px;
    right: -20px;
  }
}
@media (min-width: 992px) and (max-width: 1050px) {
  .red-flag-section.two > div:first-child h3 {
    right: 15px;
  }
}
.red-flag-section.two > div:first-child img {
  margin-left: 0;
}
.red-flag-section.two .container > div .red-flag-items-wrapper {
  max-width: 1150px;
}
.red-flag-section.two .red-flag-title-wrapper {
  margin-top: 100px;
}
.red-flag-section.three > div:first-child {
  margin-bottom: 50px;
}
.red-flag-section.three > div:first-child h3 {
  top: 70px;
  transform: rotate(-13deg) translateX(10px);
}
@media (min-width: 751px) {
  .red-flag-section.three > div:first-child h3 {
    top: 90px;
    transform: rotate(-13deg) translateX(-7px);
  }
}
@media (min-width: 900px) {
  .red-flag-section.three > div:first-child h3 {
    top: 108px;
    transform: rotate(-13deg) translateX(-12px);
  }
}
@media (min-width: 1200px) {
  .red-flag-section.three > div:first-child h3 {
    top: 92px;
    transform: rotate(-13deg) translateX(-165px);
  }
}
.red-flag-section.three [class*=col-] {
  margin-bottom: 20px;
}
.red-flag-section.three .red-flag-items-wrapper {
  max-width: 920px;
}
.red-flag-section.three .red-flag-items-wrapper .red-flag-items .red-flag-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.red-flag-section.three .red-flag-items-wrapper .arrow-button {
  transform: translateX(-50%) translateY(-65px) !important;
}
.red-flag-section.three [class*=col-]:nth-child(3) .red-flag-item img {
  margin-bottom: -29px;
}
.red-flag-section.four > div:first-child {
  margin-bottom: 150px;
}
.red-flag-section.four > div:first-child h3 {
  top: 140px;
  transform: rotate(5deg);
  right: 10px;
}
@media (min-width: 1200px) {
  .red-flag-section.four > div:first-child h3 {
    top: 105px;
    right: -65px;
    transform: rotate(1deg);
  }
}
.red-flag-section.four .red-flag-item {
  min-height: 400px;
  height: auto !important;
}
@media (min-width: 992px) {
  .red-flag-section.four .red-flag-item {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 992px) {
  .red-flag-section.four .red-flag-item p {
    font-size: 25px !important;
  }
}
.red-flag-section.four .red-flag-item p span:nth-child(2) {
  line-height: 0.9;
  margin-top: 2px;
}
.red-flag-section.last {
  overflow-x: hidden;
}
.red-flag-section.last > div:first-child h3 {
  top: 85px;
  transform: rotate(5deg);
  right: 19px;
}
@media (min-width: 401px) {
  .red-flag-section.last > div:first-child h3 {
    top: 100px;
  }
}
@media (min-width: 500px) {
  .red-flag-section.last > div:first-child h3 {
    top: 130px;
  }
}
@media (min-width: 800px) {
  .red-flag-section.last > div:first-child h3 {
    font-size: 80px;
    top: 170px;
  }
}
@media (min-width: 992px) {
  .red-flag-section.last > div:first-child h3 {
    font-size: 90px;
    top: 190px;
  }
}
.red-flag-section.last > div:last-child {
  background-image: url("../images/dump-acne-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  line-height: 0.85;
  width: 340px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-top: -55px;
  position: relative;
}
@media (min-width: 350px) {
  .red-flag-section.last > div:last-child {
    width: 390px;
    height: 213px;
  }
}
@media (min-width: 370px) {
  .red-flag-section.last > div:last-child {
    width: 420px;
    height: 230px;
  }
}
@media (min-width: 401px) {
  .red-flag-section.last > div:last-child {
    width: 500px;
    height: 273px;
    margin-top: -70px;
  }
}
@media (min-width: 600px) {
  .red-flag-section.last > div:last-child {
    margin-left: 50px;
  }
}
@media (min-width: 700px) {
  .red-flag-section.last > div:last-child {
    margin-left: 100px;
  }
}
@media (min-width: 700px) {
  .red-flag-section.last > div:last-child {
    margin-top: -130px;
  }
}
@media (min-width: 992px) {
  .red-flag-section.last > div:last-child {
    margin-top: -165px;
    margin-left: 465px;
  }
}
@media (min-width: 1200px) {
  .red-flag-section.last > div:last-child {
    width: 640px;
    height: 385px;
    background-size: 100% 100%;
  }
}
.red-flag-section.last > div:last-child span:first-child {
  font-size: 30px;
  margin-left: -8px;
  margin-right: 26px;
}
@media (min-width: 401px) {
  .red-flag-section.last > div:last-child span:first-child {
    font-size: 35px;
    margin-left: -70px;
  }
}
@media (min-width: 450px) {
  .red-flag-section.last > div:last-child span:first-child {
    font-size: 35px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .red-flag-section.last > div:last-child span:first-child {
    font-size: 50px;
    margin-left: -25px;
    margin-right: 50px;
  }
}
.red-flag-section.last > div:last-child span:last-child {
  font-size: 70px;
  transform: rotate(-15deg) translateY(-42px);
}
@media (min-width: 350px) {
  .red-flag-section.last > div:last-child span:last-child {
    transform: rotate(-11deg) translateY(-25px);
  }
}
@media (min-width: 401px) {
  .red-flag-section.last > div:last-child span:last-child {
    font-size: 75px;
  }
}
@media (min-width: 1200px) {
  .red-flag-section.last > div:last-child span:last-child {
    font-size: 120px;
  }
}

header {
  position: relative;
  z-index: 1;
  height: 100px;
  background: url("../images/header/header-mobile-bg.png") no-repeat scroll center center/100% 100%;
}
@media (min-width: 576px) {
  header {
    background: url("../images/header/header-bg.png") no-repeat scroll center center/100% 100%;
  }
}
header .container > a:first-child {
  font-size: 60px;
  line-height: 0.8;
  margin-top: 15px;
  transform: skew(8deg);
}
header .container > a:first-child span {
  display: block;
}
header .container > a:first-child span:last-child {
  margin-left: 15px;
}
header .container > div:last-child {
  margin-top: 17px;
}
@media (min-width: 576px) {
  header .container > div:last-child {
    margin-top: 13px;
  }
}
@media (min-width: 992px) {
  header .container > div:last-child {
    margin-top: 13px;
  }
}
header .container > div:last-child svg {
  width: 28px;
  cursor: pointer;
}
header .mobile-fullheight-navbar {
  position: fixed;
  background-color: #000;
  width: 100%;
  top: 0;
  padding: 50px 40px;
  transform: translateX(-100%);
  transition-duration: 0.5s;
  height: 100vh;
  overflow-y: auto;
}
header .mobile-fullheight-navbar ul {
  padding-top: 80px;
  padding-left: 40px;
  font-size: 40px;
}
@media (max-width: 575.98px) {
  header .mobile-fullheight-navbar ul {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 20px;
  }
}
header .mobile-fullheight-navbar ul li a {
  color: #fff;
}
header .mobile-fullheight-navbar ul li a:hover {
  color: #FB3099;
}
header .mobile-fullheight-navbar.active-navbar {
  transform: translateX(0);
}
header .mobile-fullheight-navbar > button:first-child {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 10px;
  left: 15px;
  color: #6D6E73;
  font-size: 50px;
  cursor: pointer;
}
header .mobile-fullheight-navbar > button:first-child:hover {
  color: #FB3099;
}

section.banner {
  margin-top: -80px;
}
@media (min-width: 480px) {
  section.banner {
    margin-top: -150px;
  }
}
@media (min-width: 576px) {
  section.banner {
    margin-top: -55px;
  }
}
@media (min-width: 992px) {
  section.banner {
    position: relative;
  }
}
section.banner > div:nth-child(3) {
  margin-top: 12px;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  section.banner > div:nth-child(3) {
    position: absolute;
    top: 135px;
    left: 120px;
  }
}
@media (min-width: 1400px) {
  section.banner > div:nth-child(3) {
    left: 180px;
  }
}
@media (min-width: 1500px) {
  section.banner > div:nth-child(3) {
    left: 230px;
  }
}
@media (min-width: 1600px) {
  section.banner > div:nth-child(3) {
    left: 280px;
    top: 170px;
  }
}
@media (min-width: 1700px) {
  section.banner > div:nth-child(3) {
    left: 350px;
  }
}
@media (min-width: 1700px) {
  section.banner > div:nth-child(3) {
    top: 220px;
  }
}
@media (min-width: 1950px) {
  section.banner > div:nth-child(3) {
    left: 450px;
  }
}
@media (min-width: 2100px) {
  section.banner > div:nth-child(3) {
    left: 550px;
    top: 270px;
  }
}
@media (min-width: 2300px) {
  section.banner > div:nth-child(3) {
    left: 650px;
    top: 320px;
  }
}
section.banner > div:nth-child(3) p {
  line-height: 0.9;
  font-size: 26px;
  margin-bottom: 17px;
}
@media (min-width: 1200px) {
  section.banner > div:nth-child(3) p {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  section.banner > div:nth-child(3) p {
    font-size: 40px;
  }
}
section.banner > div:nth-child(3) h2 {
  font-size: 70px;
  line-height: 0.95;
}
@media (min-width: 1200px) {
  section.banner > div:nth-child(3) h2 {
    font-size: 100px;
    transform: skew(9deg);
  }
}
@media (min-width: 1300px) {
  section.banner > div:nth-child(3) h2 {
    font-size: 115px;
  }
}
section.banner > a:last-child {
  width: 100%;
  font-size: 32px;
  padding: 9px 0;
  line-height: 1.1;
}
@media (min-width: 992px) {
  section.banner > a:last-child {
    position: absolute;
    width: 185px;
    font-size: 22px;
    line-height: 1;
    height: 100px;
    background: url(../images/banner/banner-bottom-button-bg.png) no-repeat scroll center center/100% 100%;
    bottom: -29px;
    right: 0;
  }
  section.banner > a:last-child span {
    width: 130px;
  }
}

section.red-flags > .container:first-child > p {
  font-size: 20px;
  line-height: 1;
  margin-top: 30px;
}
@media (min-width: 992px) {
  section.red-flags > .container:first-child > p {
    font-size: 30px;
  }
}
section.red-flags .red-flag-start {
  width: 304px;
  font-size: 21px;
  line-height: 1.1;
  margin-top: 110px;
}
@media (min-width: 576px) {
  section.red-flags .red-flag-start {
    width: 500px;
  }
}
section.red-flags .red-flag-start p:first-child {
  margin-left: -5px;
  width: calc(100% - 10px);
  padding: 6.5px;
  padding-left: 27px;
  margin-bottom: -24px;
  position: relative;
}
@media (min-width: 576px) {
  section.red-flags .red-flag-start p:first-child {
    font-size: 33px;
    padding: 11px;
    padding-left: 44px;
    margin-bottom: -42px;
  }
}
section.red-flags .red-flag-start p:last-child {
  background-color: #FFB902;
  width: calc(100% - 10px);
  margin-left: auto;
  padding: 30px 10px 15px;
}
@media (min-width: 576px) {
  section.red-flags .red-flag-start p:last-child {
    font-size: 27px;
    width: calc(100% - 20px);
    padding: 12px 20px 30px;
    padding-top: 53px;
  }
}
section.red-flags .red-flag-start p:last-child sup {
  font-size: 12px;
  top: -6px;
  margin-left: -2px;
}
@media (min-width: 576px) {
  section.red-flags .red-flag-start p:last-child sup {
    font-size: 15px;
    top: -9px;
    margin-left: -3px;
  }
}
section.red-flags > div.container:nth-of-type(3) {
  margin-top: 65px;
}

section.questions {
  background: url("../images/questions-bg.png") no-repeat scroll center center/100% 100%;
  padding-top: 75px;
  padding-bottom: 100px;
  margin-top: 70px;
}
@media (min-width: 576px) {
  section.questions {
    padding-bottom: 180px;
    padding-top: 100px;
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  section.questions {
    margin-top: 120px;
  }
}
@media (min-width: 992px) {
  section.questions {
    margin-top: 150px;
  }
}
@media (min-width: 1200px) {
  section.questions {
    margin-top: 230px;
  }
}
section.questions h3 {
  font-size: 45px;
  line-height: 1;
}
section.questions h3 + p {
  font-size: 21px;
  line-height: 1;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
@media (min-width: 576px) {
  section.questions h3 + p {
    max-width: 100%;
  }
}
section.questions .question-items {
  margin-top: 60px;
}
section.questions .question-items > button {
  background-color: #fff;
  font-size: 23px;
  height: 46px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  border: 0;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section.questions .question h4 {
  font-size: 35px;
  line-height: 0.9;
}
@media (min-width: 576px) {
  section.questions .question h4 {
    margin-bottom: 25px;
  }
}
section.questions .question ul {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
section.questions .question ul li {
  background-color: #fff;
  font-size: 21px;
  height: 46px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
section.questions > p {
  font-size: 30px;
  line-height: 1;
  background: url(../images/green-bg.png) no-repeat scroll center center/100% 100%;
  padding-top: 45px;
  padding-bottom: 55px;
  position: absolute;
  padding-left: 15px;
  padding-right: 45px;
  transform: translateY(10px);
  width: 320px;
}
@media (min-width: 430px) {
  section.questions > p {
    width: 400px;
    padding-left: 45px;
    padding-right: 90px;
  }
}
@media (min-width: 576px) {
  section.questions > p {
    width: 100%;
    font-size: 32px;
    max-width: 745px;
    padding-top: 55px;
    padding-bottom: 70px;
    left: 50%;
    transform: translateX(-50%) translateY(80px);
  }
}
section.questions > p span {
  transform: rotate(11deg);
}
@media (min-width: 576px) {
  section.questions > p span {
    transform: rotate(3deg);
  }
}

section.reference {
  color: #707070;
  margin-top: 180px;
  font-size: 13px;
  line-height: 1.1;
}

footer {
  font-size: 13px;
  line-height: 1;
  margin-top: 70px;
}
@media (min-width: 576px) {
  footer {
    margin-bottom: 80px;
  }
}
footer p {
  margin-bottom: 20px;
}
footer a {
  color: #000;
}
footer > a {
  margin-bottom: 0;
  font-size: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 35px;
}/*# sourceMappingURL=style.css.map */